#hello-world {
  color: blue;
}

#navbar-links-div {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-end;
  vertical-align: middle;
}

.navbar-link {
  margin: 10px;
  padding: 2px;
  background-color: gold;
  color: black;
  text-decoration-line: none;
  border-radius: 20%;
}

.login-button {
  background-color: gold;
  color: black;
  text-decoration-line: none;
  border-radius: 10%;
}

.toolbar {
  display: flex;
}

.navbar-title {
  text-align: flex-start;
}

.navbar-appbar {
  display: flex;
}

.navbar-link:hover,
.navbar-link > selected {
  background-color: white;
}
.navbar-link {
  display: flex;
  vertical-align: middle;
}
.navbar-link-button {
  margin: 0 auto;
}

.navbar-link-button:hover {
  /* text-transform: uppercase; */
  font-weight: bold;
  text-decoration-style: solid;
}
